/* Write your CSS here */
.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: #000000;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .name {
    font-size: 25px;
    text-align: start;
  }
}
.button {
  height: 24px;
  font-size: 12px;
  margin-right: 16px;
  margin-left: 4px;
  color: #ff0b37;
  border: 1px solid #ff0b37;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 768px) {
  .button {
    height: 36px;
    width: 90px;
    font-size: 20px;
    border-radius: 12px;
  }
}
